* {
  --header-container-height: 100px;
  --header-logo-height: 80px;
  --header-logo-color: white;
  --header-options-color: white;
  --header-logo-font-size: 30px;
}

.header-container {
  display: grid;
  position: fixed;
  top: 0;
  z-index: 9999;
  grid-template-columns: 1fr 1fr;
  height: var(--header-container-height);
  width: 100%;
  align-items: center;
  background-color: var(--main-bg-color);
}

.header-items-container {
  display: grid;
  position: fixed;
  top: 25px;
  right: 0;
}

.header-item-container {
  display: grid;
  color: var(--header-options-color);
  font-weight: bolder;
  text-align: center;
  grid-template-columns: 150px 150px;
}

.header-desktop-item {
  cursor: pointer;
}

.header-item-wrapper {
  color: white;
  text-decoration: none;
  line-height: 50px;
}

.header-logo-wrapper {
  padding-left: 50px;
  text-align: left;
}

.item-selected {
  border-radius: 50px;
  font-weight: bolder;
  opacity: 0.9;
  background: linear-gradient(145deg, var(--main-deg-app-color), var(--main-app-color));
}

.item-is-contact {
  color: var(--main-app-color);
}
